@font-face {
	font-family: 'Lato';
	src: url('fonts/lato/lato.eot');
	src: url('fonts/lato/lato.eot?#iefix') format('embedded-opentype'),
       url('fonts/lato/lato.woff2') format('woff2'),
	     url('fonts/lato/lato.woff') format('woff'),
	     url('fonts/lato/lato.ttf') format('truetype'),
	     url('fonts/lato/lato.svg#laot') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Turn chromes blue border off */
*:focus {
    outline: none;
}

.parentDiv {
  font-family: 'Lato';
}

.infoDiv {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
}

.innerInfoDiv {
  position: relative;
  left: -50%;
  padding: 20px;
  background-color: #525252;
  box-shadow: 5px 5px 10px 2px #000000;
  z-index: 999999;
}

.infoText {
  margin: 0px;
}

.noscriptTag {
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% - 4px);
  margin: 0% 0% 0% -50%;
  text-align: center;
  border: 2px solid red;
}

.menubarDiv {
  position: absolute;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 1;
  right: 0;
  margin-left: 100%;
  width: 0%;
  height: 100%;
}

.menubarDiv * {
  display: inline;
}

.menubarDiv > div {
  float: left;
  clear: left;
  margin: 10px 10px 10px 10px;
}

.menuButton {
  position: absolute;
  background-color: transparent;
  border: transparent;
  right: 20px;
  top: 20px;
  z-index: 2;
}

.clockDiv {
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  margin: -150px 0% 0% -20%;
  text-align: center;
  font-size: 800%;
}

.searchDiv {
  display: inline-block;
  position: absolute;
  width: 40%;
  top: 50%;
  left: 50%;
  margin: 0% 0% 0% -20%
}

.searchInput {
  box-sizing: border-box;
  padding: 6px 6px 6px 6px;
  width: 100%;
  background-color: #363636;
  border: 2px solid #3a5b83;
  color: #3a5b83;
  transition: background-color 200ms, border 200ms, color 200ms;
}

.searchSuggestionsDiv input {
  padding: 6px 6px 6px 6px;
  border: 2px solid transparent;
  width: 100%;
  text-align: left;
}